<!--footer-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <h6 class="navbar-text">&copy; Copyright 2025. All Rights Reserved. linkedin: www.linkedin.com/in/-ayesha-haider github:https://github.com/ayeshahaider04/assignment2</h6>
</nav>