<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container mt-5">
  
    <h3 class="card-title mb-3">About Me</h3>
    <p class="card-text">
    Hello! Contactme!.
    </p>
</main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>